<div id="comentarios">
	<h3>Comentários</h3>
	<% if comentarios.empty? %>
		Nenhum comentário.
	<% else %>
		<%= render comentarios%>
	<% end %>
</div>

<% content_for :css do %>
	<link rel="stylesheet" href="/stylesheets/comentarios.css">
<% end %>